*{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.game-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

/* light up animation */

@keyframes lightup {               
    0% {
        background-color: white;
    }
    25% {
        background-color: blueviolet;
    }
    50% {
        background-color: blueviolet;
    }
    75% {
        background-color: blueviolet;
    }
    100% {
        background-color: white;
    }
}

.grid-container{
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);

    height: 60vh;
    aspect-ratio: 1/1;    

    outline: 1px solid black;
}

.grid-item{
    border: 1px solid black;
    transition: 0.5s;
}

.grid-item:hover{
    background-color: blueviolet;
    transition: 0.5s;
}

.score{
    width: 100%;
    text-align: center;
    line-height: 10vh;
    font-size: 40px;
}